<!DOCTYPE html>
{% load edit_list %}

<html>
<head>
{% edit_list request.user %}
</head>
<body>
    <table>
        <tbody>
        <tr>
            <td>First Name</td>
            <td>{{ request.user.first_name }}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{ request.user.last_name }}</td>
        </tr>
        <tr>
            <td>Birthday date</td>
            <td>{{ request.user.data_of_birth }}</td>
        </tr>
        <tr>
            <td>Biography</td>
            <td>{{ request.user.biography }}</td>
        </tr>
        <tr>
            <td>Contacts</td>
            <td>{{ request.user.contacts }}</td>
        </tr>
        </tbody>
    </table>
</body>
</html>