<!DOCTYPE html>
{% load i18n %}

<html>
<head>
    <script type="text/javascript" src="/my_admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
    <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
    {{ form.media }}
</head>
<body>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" >Save</button>
    </form>
</body>
</html>